<div class="container">
    <h1>My Personal Home Page</h1>
    <p>you can read about me, or checkout my blog.</p>
    <%# <a href="/about">About me</a> %>
    <%= link_to "About Me",about_path %>
</div>